 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/af5e5ae6-a8b2-b678-b5c0-e18209751fe7.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 460px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 346px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 348px;
  height: auto;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -74px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 41px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  align-self: center;
  margin: 40px auto 0 264px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 165px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 679px;
}

.u-section-3 .u-text-1 {
  margin: 20px 446px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 402px;
  grid-gap: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  height: 303px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  height: 303px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  height: 303px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 40.97%;
}

.u-section-3 .u-text-4 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin: 20px 0 37px;
  padding: 10px 30px 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 246px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -14px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 328px;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
    height: 247px;
  }

  .u-section-3 .u-image-2 {
    inset: auto;
    height: 247px;
  }

  .u-section-3 .u-image-3 {
    inset: auto;
    height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 47px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 802px;
  }

  .u-section-3 .u-image-1 {
    height: 286px;
  }

  .u-section-3 .u-image-2 {
    height: 286px;
  }

  .u-section-3 .u-image-3 {
    height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 66px;
    margin-bottom: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 437px;
  }

  .u-section-3 .u-image-2 {
    height: 437px;
  }

  .u-section-3 .u-image-3 {
    height: 437px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 269px;
  }

  .u-section-3 .u-image-2 {
    height: 269px;
  }

  .u-section-3 .u-image-3 {
    height: 269px;
  }
} .u-section-4 {
  background-image: url("images/45.jpg");
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 80.2%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 746px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 78px;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  min-height: 550px;
  --radius: 40px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/3740f94d-8164-e6f8-3ceb-d385069751c3.jpg");
  background-position: 50% 66.83%;
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 550px;
  background-image: none;
  --radius: 40px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  margin: 27px auto 60px 0;
  padding: 10px 30px 12px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 80px;
  }

  .u-section-5 .u-image-1 {
    min-height: 454px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 454px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-5 .u-image-1 {
    min-height: 348px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-5 .u-image-1 {
    min-height: 522px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-5 .u-image-1 {
    min-height: 329px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 872px;
}

.u-section-6 .u-text-1 {
  font-family: Abel;
  margin: 20px auto 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 33px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 650px;
  grid-gap: 30px;
}

.u-section-6 .u-image-1 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/1b27be79-651e-263a-6b95-d088c15362cb.jpg");
  background-position: 50% 38.15%;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-image-2 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/892502d9-14e5-030e-59db-b4382a2901c7.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-image-3 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/568da71b-8590-e391-7f3e-7bacbf31409f.jpg");
  background-position: 50% 90.03%;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-image-4 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/0044b9d8-b5a6-0212-8b04-d24f441494a5.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-image-5 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/bf3d3990-52e6-f2b2-3c3a-67173982dada.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px 0 10px 10px;
}

.u-section-6 .u-image-6 {
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: url("images/eef9a89d-a694-06d6-7b1d-9a5e906cc078.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px 0 10px 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 535px;
  }

  .u-section-6 .u-image-1 {
    background-size: cover;
  }

  .u-section-6 .u-image-3 {
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 59px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 951px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2129px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 37px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 1849px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 880px;
}

.u-section-7 .u-text-1 {
  font-family: Abel;
  margin: 70px auto 0;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-image-1 {
  width: 511px;
  height: 497px;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  object-position: 50% 75.36%;
  margin: 20px auto 0 70px;
}

.u-section-7 .u-group-1 {
  width: 358px;
  min-height: 414px;
  height: auto;
  --radius: 20px;
  margin: -481px 171px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-form-1 {
  height: 326px;
  width: 340px;
  margin: 51px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  --radius: 5px;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  margin: 124px auto 0 495px;
}

.u-section-7 .u-text-3 {
  margin: 31px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-form-1 {
    width: 338px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-btn-2 {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1010px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 331px;
    margin-left: 0;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    margin-top: -315px;
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-8 .u-sheet-1 {
  min-height: 682px;
}

.u-section-8 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 50px;
  grid-template-rows: repeat(1, auto);
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 20px);
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 542px;
  grid-gap: 30px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto;
}

.u-section-8 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/186a6de3-ee55-cd70-70d1-2e6b0249c35e.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 25px auto 0 69px;
}

.u-section-8 .u-list-item-2 {
  background-size: auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  margin: 0 auto;
}

.u-section-8 .u-image-2 {
  width: 250px;
  height: 250px;
  background-image: url("images/e8ee41aa-f82e-5c51-34cb-f2486df62c66.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 25px auto 0 69px;
}

.u-section-8 .u-list-item-3 {
  background-size: auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  margin: 0 auto;
}

.u-section-8 .u-image-3 {
  width: 250px;
  height: 250px;
  background-image: url("images/7e9a5c30-9294-8cd1-55a9-2a242b19f425.jpg");
  background-position: 50% 50%;
  margin: 20px auto 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-8 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 25px auto 0 69px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 353px;
}

.u-section-9 .u-list-1 {
  margin-bottom: -82px;
  margin-top: 60px;
}

.u-section-9 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 233px;
  grid-gap: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.75rem;
}

.u-section-9 .u-text-2 {
  margin: 12px 273px 0 9px;
}

.u-section-9 .u-text-3 {
  margin: 51px 325px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.75rem;
}

.u-section-9 .u-text-5 {
  margin: 12px 273px 0 9px;
}

.u-section-9 .u-text-6 {
  margin: 51px 325px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-repeater-1 {
    min-height: 192px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 125px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-9 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-9 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-9 .u-text-2 {
    margin-right: 208px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 208px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-9 .u-text-2 {
    margin-right: 155px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 95px;
  }

  .u-section-9 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-text-5 {
    margin-right: 95px;
  }
}